@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    // line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}



ul {
    list-style: none;
}

.footer {
    background-color: #f1f1f1;
    // padding: 70px 0;
    padding-top: 70px;

    .container {
        max-width: 1170px;
        height: 458.19px;
        margin: auto;

        .row {
            display: flex;
            flex-wrap: wrap;
        }
    }
}

.footer-col {
    width: 25%;
    padding: 0 15px;

}

.footer-col {
    img {
        width: 40%;
        margin-bottom: 25px;
    }

    p {
        margin-bottom: 25px;
    }
}

.footer-col {
    p {
        font-size: 13px;
        text-transform: capitalize;
        text-decoration: none;
        font-weight: 300;
        color: #818181;
        display: block;
    }
}

.footer-col {
    h4 {
        font-size: 18px;
        color: #292929;
        text-transform: capitalize;
        margin-bottom: 35px;
        font-weight: 600;
        position: relative;
    }
}

// .footer-col h4::before{
// 	content: '';
// 	position: absolute;
// 	left:0;
// 	bottom: -10px;
// 	background-color: #e91e63;
// 	height: 2px;
// 	box-sizing: border-box;
// 	width: 50px;
// }
.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 13px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color: #818181;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ee3333;
    // padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    align-items: center;
    justify-content: center;
    gap: 19px;
    height: 40px;
    width: 40px;
    color: #929292;
    transition: all 0.5s ease;
    font-size: 13px;
}

.footer-col .social-links a:hover {
    color: crimson;
}

/*responsive*/
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}